<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
      <div class="titulo">
          <p>WE'RE LAUNCHING SOOM</p>
      </div>
  </header> 

  <section >
      <div class="modulos">
          <div class="modulo1">
              <div class="section1"></div>
              <div class="section2"></div>
              <p>DAYS</p>
          </div>
          <div class="modulo1">
              <div class="section1"></div>
              <div class="section2"></div>
              <p>DAYS</p>
          </div>
        <div class="modulo1">
            <div class="section1"></div>
            <div class="section2"></div>
            <p>DAYS</p>
        </div>
        <div class="modulo1">
            <div class="section1"></div>
            <div class="section2"></div>
            <p>DAYS</p>
        </div>

      </div>
  </section>

  <footer>
      <div class="icons">
          <img class="pattern-hill" src="/images/pattern-hills.svg" alt="">
          <div class="icons-redes">
            <img src="/images/icon-facebook.svg" alt="">
            <img src="/images/icon-pinterest.svg" alt="">
            <img src="/images/icon-instagram.svg" alt="">
          </div>
          
      </div>
  </footer>
</body>
</html>